create database employeeDB;
create schema employee;
create table employee.emp
(
    id         serial primary key,
    full_name  varchar(100) not null,
    department varchar(100) not null,
    position   varchar(100) not null,
    salary     int          not null,
    bonus      int,
    join_year  int
);

-- create table employee.emp2(
--                               id serial primary key,
--                               full_name varchar(100) not null,
--                               department varchar(100) not null,
--                               position varchar(100) not null,
--                               salary int not null,
--                               bonus int,
--                               join_year int
-- );
--
-- INSERT INTO employee.emp2 (id, full_name, department, position, salary, bonus, join_year)
-- VALUES
--     (1, 'Nguyễn Văn Huy', 'IT', 'Developer', 18000000, 1000000, 2021),
--     (4, 'Nguyễn Văn Huy', 'IT', 'Developer', 18000000, 1000000, 2021);
-- INSERT INTO employee.emp2 (id, full_name, department, position, salary, bonus, join_year)
-- VALUES
--     (8, 'Trương Hoàng Yến', 'Marketing', 'Content Creator', 13500000, 500000, 2024),
--     (9, 'Võ Minh Luân', 'Finance', 'Analyst', 19000000, NULL, 2022);

INSERT INTO employee.emp (id, full_name, department, position, salary, bonus, join_year)
VALUES (1, 'Nguyễn Văn Huy', 'IT', 'Developer', 18000000, 1000000, 2021),
       (2, 'Trần Thị Mai', 'HR', 'Recruiter', 12000000, NULL, 2020),
       (3, 'Lê Quốc Trung', 'IT', 'Tester', 15000000, 800000, 2023),
       (4, 'Nguyễn Văn Huy', 'IT', 'Developer', 18000000, 1000000, 2021),
       (5, 'Phạm Ngọc Hân', 'Finance', 'Accountant', 14000000, NULL, 2019),
       (6, 'Bùi Thị Lan', 'HR', 'HR Manager', 20000000, 3000000, 2018),
       (7, 'Đặng Hữu Tài', 'IT', 'Developer', 17000000, NULL, 2022);


select *
from employee.emp;
-- select * from employee.emp2;

-- select *
-- from employee.emp a
-- full join employee.emp2 b
-- on a.full_name = b.full_name and a.department = b.department and a.position = b.position;
--
-- select *
-- from employee.emp a
-- left join employee.emp b
-- on a.full_name = b.full_name and a.department = b.department and a.position = b.position;
--
-- select *
-- from employee.emp a
-- right join employee.emp main
-- on a.full_name = main.full_name and a.department = main.department and a.position = main.position
-- order by main.id asc, a.id asc;
--
-- select *
-- from employee.emp a
-- full join employee.emp b
-- on a.full_name = b.full_name and a.department = b.department and a.position = b.position;

delete
from employee.emp
where (full_name, department, position) = (select a.full_name as name, a.department as departmet, a.position as position
                                           from employee.emp a
                                           group by a.full_name, a.department, a.position
                                           having count(a.id) > 1);


update employee.emp
set salary = salary + (10 / 100) * emp.salary
where salary < 18000000;

update employee.emp
set bonus = 500000
where bonus is null;

select full_name
from employee.emp
where (department = 'IT' or department = 'HR')
  and join_year > 2020
  and (salary + bonus) > 15000000;

select full_name
from employee.emp
order by (salary + bonus) desc
limit 3;

select full_name
from employee.emp
where full_name like 'Nguyễn%'
    or full_name like '%Hân';


select distinct department
from employee.emp
where bonus is not null;

select full_name
from employee.emp
where join_year between 2019 and 2022;