create database StudentDB;
create schema student;


create table student.students(
    student_id serial primary key,
    student_name varchar(100),
    gender varchar(10),
    birth_year int,
    major varchar(100),
    gpa decimal(3,2)
);


INSERT INTO student.students (student_name, gender, birth_year, major, gpa)
VALUES
    ('Nguyễn Văn A', 'Nam', 2002, 'CNTT', 3.6),
    ('Trần Thị Bích Ngọc', 'Nữ', 2001, 'Kinh tế', 3.2),
    ('Lê Quốc Cường', 'Nam', 2003, 'CNTT', 2.7),
    ('Phạm Minh Anh', 'Nữ', 2000, 'Luật', 3.9),
    ('Nguyễn Văn A', 'Nam', 2002, 'CNTT', 3.6),
    ('Lưu Đức Tài', NULL, 2004, 'Cơ khí', NULL),
    ('Võ Thị Thu Hằng', 'Nữ', 2001, 'CNTT', 3.0);

select * from student.students;

insert into student.students(student_name, gender, birth_year, major, gpa)
values('Phan Hoàng Nam', 'Nam', 2003, 'CNTT', 3.8);

update student.students
set gpa = 3.4
where student_name = 'Lê Quốc Cường';

delete from student.students
where gpa is null;

select student_name
from student.students
where gpa >= 3.0
limit 3;

select distinct major
from student.students;

select student_name
from student.students
where major = 'CNTT'
order by gpa desc, student_name asc;

select student_name
from student.students
where student_name ilike 'Nguyễn%';

select student_name
from student.students
where birth_year between 2001 and 2003;