create database bookDB;
create schema book;
create table book.books(
    id serial primary key,
    title varchar(100) not null,
    author varchar(100) not null,
    category varchar(50) not null,
    publish_year int not null,
    price bigint not null,
    stock int
);


select * from book.books;

delete from book.books
where (title, author, publish_year) = (
    select b.title as title, b.author as author , b.publish_year as publish_year
    from book.books b
    group by b.title, b.author, b.publish_year
    having count(b.id) > 1
    );

update book.books
set price = price + (10/100) * books.price
where publish_year >= 2021 and price < 200000;

update book.books
set stock = 0
where stock is null;

select title
from book.books
where (category = 'CNTT' or category = 'AI') and price between 100000 and 250000;

select title, price
from book.books
order by price desc, title asc;

select title
from book.books
where title ilike '%học%';

select distinct category
from book.books
where publish_year >= 2020;

select *
from book.books
limit 2 offset 1;