create database productDB;
create schema product;

create table product.products(
    product_id serial primary key,
    product_name varchar(100),
    category varchar(100),
    price bigint,
    stock int,
    manufacturer varchar(100)
);

INSERT INTO products (product_name, category, price, stock, manufacturer)
VALUES
    ('Laptop Dell XPS 13', 'Laptop', 25000000, 12, 'Dell'),
    ('Chuột Logitech M90', 'Phụ kiện', 150000, 50, 'Logitech'),
    ('Bàn phím cơ Razer', 'Phụ kiện', 2200000, 0, 'Razer'),
    ('Macbook Air M2', 'Laptop', 32000000, 7, 'Apple'),
    ('iPhone 14 Pro Max', 'Điện thoại', 35000000, 15, 'Apple'),
    ('Laptop Dell XPS 13', 'Laptop', 25000000, 12, 'Dell'),
    ('Tai nghe AirPods 3', 'Phụ kiện', 4500000, NULL, 'Apple');

insert into product.products(product_name, category, price, stock, manufacturer)
values('Chuột không day Logitech 170', 'Phụ kiện', 300000, 20, 'Logitech');


update product.products
set price = price + (10/100) * price
where products.manufacturer = 'apple';

delete from product.products
where stock = 0;

select product_name
from product.products
where price between 1000000 and 3000000;

select product_name
from product.products
where stock is null;

select distinct manufacturer
from product.products;

select product_name
from product.products
order by price desc, product_name asc;

select product_name
from product.products
where product_name ilike '%laptop%';

select product_name
from product.products
order by price desc
limit 2;