create database storeDB;
create schema store;


create table store.stores(
    product_id serial primary key,
    product_name varchar(50),
    category varchar(50),
    price decimal(10,2),
    stock int
);

select * from store.stores;

INSERT INTO store.stores (product_id, product_name, category, price, stock)
VALUES
    (1, 'Laptop Dell', 'Electronics', 1500.00, 5),
    (2, 'Chuột Logitech', 'Electronics', 25.50, 50),
    (3, 'Bàn phím Razer', 'Electronics', 120.00, 20),
    (4, 'Tủ lạnh LG', 'Home Appliances', 800.00, 3),
    (5, 'Máy giặt Samsung', 'Home Appliances', 600.00, 2);

insert into store.stores(product_id, product_name, category, price, stock)
values(6,'Điều hòa Panasonic', 'Home Appliances', 400.00, 10);

update store.stores
set stock = 7
where product_name = 'Laptop Dell';

delete from store.stores
where stock = 0;

select product_name
from store.stores
order by price asc;

select distinct category
from store.stores;

select product_name
from store.stores
where price between 100 and 1000;

select product_name
from store.stores
where product_name ilike '%LG%' or product_name ilike '%Samsung%';

select product_name
from store.stores
order by price desc
limit 2;
/* Hoặc*/

select product_name
from store.stores
limit 2 offset 1;