create database sinhvienDB;
create schema sinhvien;

create table sinhvien.students(
    student_id serial primary key,
    student_name varchar(100),
    age int,
    major varchar(100),
    gpa decimal(3,2)
);

insert into sinhvien.students(student_name, age, major, gpa)
values ('AN', 20, 'CNTT', 3.5),
       ('BINH', 21, 'TOÁN', 3.2),
       ('CƯỜNG', 22, 'CNTT', 3.8),
       ('DƯƠNG', 20, 'VẬT LÝ', 3.0),
       ('EM', 21, 'CNTT', 2.9);

select * from sinhvien.students;

insert into sinhvien.students(student_name, age, major, gpa)
values('HÙNG', 23, 'HÓA HỌC', 3.4);

update sinhvien.students
set gpa = 3.6
where student_name = 'BÌNH';

delete from sinhvien.students
where gpa < 3.0;

select student_name, major
from sinhvien.students
order by gpa desc;

select distinct student_name
from sinhvien.students
where major = 'CNTT';

select student_name
from sinhvien.students
where gpa between 3.0 and 3.6;

select student_name
from sinhvien.students
where student_name ilike 'C%';

select student_name
from sinhvien.students
order by student_name asc
limit 3;

/* hoặc*/

select student_name
from sinhvien.students
limit 3 offset 1;